.homepage-background {
    background-image: url("https://images.pexels.com/photos/1529360/pexels-photo-1529360.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-repeat: no-repeat;
    background-size: cover;
}

.home-page-container {
    display: flex;
    flex-direction: column; /* Updated to stack rows vertically */
    align-items: center;
    justify-content: center;
    height: 100vh;
  }

.homepage-header {
    display: flex;
    justify-content: center;
    font-size: 7rem; /* Tailwind's text-7xl equivalent */
    color: #d1d5db; /* Tailwind's text-gray-300 equivalent */
    font-family: serif;
}

.homepage-title {
    text-shadow: 4px 4px 6px rgba(1, 1, 1, 1.7);
}

.homepage-subtitle {
    display: flex;
    justify-content: center;
    padding-bottom: 12rem; /* Tailwind's pb-48 equivalent */
    font-size: 2.5rem; /* Tailwind's text-4xl equivalent */
    font-family: serif;
    background: linear-gradient(to right, #66CDAA, #00FFFF, #00FF7F, #7FFF00, #00FFFF, #66CDAA);
    -webkit-background-clip: text;
    color: transparent;
    text-shadow: 8px 8px 11px rgba(0, 0, 0, 0.7);
}
