

*, *::after, *::before {
    box-sizing: border-box;
  }

   

  .about-container {
    display: flex;
    flex-direction: column; /* Updated to stack rows vertically */
    align-items: center;
    justify-content: center;
    height: 100vh;
  }

  .schedule-container {
    display: flex;
    flex-direction: column; /* Updated to stack rows vertically */
    align-items: center;
    justify-content: center;
    height: 100vh;
  };

  