@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: antiquewhite;
  }
  .home-page-container {
    display: flex;
    flex-direction: column; /* Updated to stack rows vertically */
    align-items: center;
    justify-content: center;
    height: 100vh;
  }

   
  